.wrapper {
    display: grid;
    .title {
        margin-top: 8px;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    .box-age {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;

        .min-age {
            font-size: 36px;
            font-weight: 800;
            color: #f8d49b;
        }
        .icon {
            font-size: 24px;
            margin: 0 12px 0px 12px;
            color: #fff;
        }
        .max-age {
            font-size: 36px;
            font-weight: 800;
            color: #f8d49b;
        }
    }
}
