.wrapper {
    display: flex;
    justify-content: space-around;
    .box-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title-percent-gender {
            display: flex;
            .wrapper-icon {
                position: relative;
                width: auto;
                height: auto;
                .icon-male {
                    position: absolute;
                    color: #fff;
                    font-size: 24px;
                    top: 3px;
                }
                .icon-female {
                    position: absolute;
                    color: #fff;
                    font-size: 24px;
                    top: 3px;
                }
            }
            .wrapper-text {
                .text-gender {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    margin-left: 24px;
                }
                .text-percent {
                    margin-left: 8px;
                    font-size: 24px;
                    font-weight: 800;
                    color: #f8d49b;
                }
            }
        }
    }
    .box-doughnut {
        position: relative;
        height: 180px;
        width: 190px;
        .doughnut {
            display: block;
            box-sizing: border-box;
            height: 170px;
            width: 190px;
            position: absolute;
            top: -4px;
        }
    }
}
